@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color:lightsalmon;
}


body {
  font-family: 'Zilla Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #283c34;
  color: white;
  max-width: 1100px;
  margin: 0 auto;
}